<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- keys to access amazon account -->
    <add key="AWSAccessKey" value="AKIAJUOZAOX3G2FSJMFQ"/>
    <add key="AWSSecretKey" value="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"/>
    
    <!-- 
    Web service URL for Amazon API of rerion we want to pool for running instances
        
    Currenlt there are 7 distinct URL to access regions:
    
    eu-west-1: ec2.eu-west-1.amazonaws.com
    us-east-1: ec2.us-east-1.amazonaws.com
    ap-northeast-1: ec2.ap-northeast-1.amazonaws.com
    us-west-1: ec2.us-west-1.amazonaws.com
    ap-southeast-1: ec2.ap-southeast-1.amazonaws.com
    us-west-2: ec2.us-west-2.amazonaws.com
    sa-east-1: ec2.sa-east-1.amazonaws.com
    
    it's possible to access URL with HTTP and HTTPS protocols.
    -->
    <add key="AWSServiceURL" value="http://ec2.eu-west-1.amazonaws.com"/>
    
    <!-- Pooling interval in seconds to refresh running instances list -->
    <add key="AWSPoolingInterval" value="60"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
</configuration>
